.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: var(--main-accent-1000);
  color: var(--main-accent-200);
  text-decoration: none;
  letter-spacing: 2px;
  border-radius: 40px;
  text-align: center;
  font-weight: 700;
  font-size: var(--fs-small);
  line-height: 27px;
  box-sizing: border-box;
  border: 1px solid var(--main-accent-200);

  @include hover(box-shadow, 1px 4px 16px #e8e8f066);
  @include active(box-shadow, 1px 4px 16px #e8e8f0a3);

  &--explore {
    grid-column: 1 / -1;
    
    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 5 / -5;
    }
  }

  &--send {
    cursor: pointer;
  }
}
