.contacts {
  &__content {
    @include page-grid;
  }

  &__title {
    font-weight: 400;
    font-size: var(--fs-forms-small);
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__value {
    display: block;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: var(--fs-small);
    line-height: 140%;
    margin-bottom: 24px;

    &:hover {
      color: var(--main-accent-400);
    }
  }

  &__block {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }
}
