.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-image: url(../images/footer/2574fbad1c094ad4c8353146ae542cdd57fefd77.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;

  @include on-tablet {
    height: 480px;
  }

  @include on-desktop {
    height: 555px;
  }
}
