@import './utils/variables';
@import './utils/mixins';
@import './header';
@import './footer';
@import './menu';
@import './top_bar';
@import './nav';
@import './icon';
@import './page';
@import './section';
@import './product';
@import './compare-bikes';
@import './about-us';
@import './details';
@import './button';
@import './contacts';
@import './form';

* {
  box-sizing: border-box;
}

.main {
  background-color: var(--main-accent-200);
  &__content {
    display: grid;
    row-gap: 96px;
    padding-block: 96px;

    @include on-tablet {
      padding-block: 120px;
      row-gap: 120px;
    }
  }
}
