.section {
  &__title {
    margin: 0;
    margin-bottom: 48px;

    font-weight: 500;
    font-size: var(--fs-extra-medium);
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    text-transform: capitalize;

    @include on-tablet {
      margin-bottom: 64px;
      font-size: var(--fs-extra-medium-tablet);
    }

    @include on-desktop {
      font-size: var(--fs-extra-medium-desktop);
    }

    &--align--left {
      text-align: left;
    }
  }
}
