$tablet-width: 488px;
$desktop-width: 1260px;
$height-logo-phone: 38px;
$height-logo-tablet: 56px;
$icon-size-phone: 24px;
$icon-size-tablet: 32px;

:root {
  // fonts
  --fs-extra-small: 12px;
  --fs-forms-small: 14px;
  --fs-small: 16px;
  --fs-medium: 22px;
  --fs-description: 23px; // В дизайні забагато різних розмірів шрифтів, тому не знаю як ще називати
  --fs-h2: 24px;
  --fs-extra-medium: 32px;
  --fs-extra-medium-tablet: 48px;
  --fs-extra-medium-desktop: 64px;
  --fs-extra-large: 36px;
  --fs-extra-large-tablet: 64px;

  // colors
  --main-accent-1000: #fff;
  --main-accent-800: #f8f8fa;
  --main-accent-700: #d5d7de;
  --main-accent-400: #c2c2c2;
  --main-accent-300: #292929;
  --main-accent-200: #1d1d1d;
}
